body {
	margin: 0px;
	font-family: Arial, Verdana;
	height: 100%;
	min-height: 400px;
}

#ergebnisse tr:hover, 
#ergebnisse tr:hover a { 
    background-color: #4CAF50;   
    color: white;
}	
	
#ergebnisse th {
	border-bottom: 1px solid black;
	padding-right: 30px;
}
	
#ergebnisse td {
	vertical-align: top;
	border-bottom: 1px dashed black;
	padding: 5px 20px 5px 10px;	
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation ul li {
    float: left;
}

#navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

#navigation ul li a:hover {
    background-color: #111;
}

#divError {
	width: 100%;
	color: red;
}

#content {
	padding: 20px 10px 0px 10px;
}

-- BEGIN Import.html

#importData {
	width: 100%;
}

#importData textarea {
	width: 100%;
	height: inherit;
}

#buttons {
	overflow: auto;
	padding: 5px 0px 5px 0px;
}

#buttons #import {
	float: right;
}

-- END Import.html
